
<%- include("../layouts/adminHead") %>

        <div class="screen-overlay"></div>
        <%- include("../layouts/adminSidebar.ejs") %>
        <main class="main-wrap">
            <%- include("../layouts/adminNav.ejs") %>
            
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="/admin/categories" method="post">
                                    <div class="mb-4">
                                        <label for="category_name" class="form-label">Name</label>
                                        <!-- Updated name attribute to "category_name" -->
                                        <input type="text" placeholder="Type here" class="form-control" id="category_name" name="category_name" />
                                    </div>
                                    <!-- <div class="mb-4">
                                        <label for="category_slug" class="form-label">Slug</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="category_slug" name="category_slug" />
                                    </div> -->
                                    <!-- <div class="mb-4">
                                        <label class="form-label">Parent</label>
                                        <select class="form-select">
                                            <option>Fruit</option>
                                            <option>Snack</option>
                                        </select>
                                    </div> -->
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" class="form-control" name="category_description"></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary">Create category</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    <!-- <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div> -->
                                                </th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <!-- <th>Slug</th>
                                                <th>Order</th> -->
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (category && category.length)  {for (let i = 0; i < category.length; i++) {%>
                                               

                                            
                                            <tr>
                                                <td class="text-center">
                                                    <!-- <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div> -->
                                                </td>
                                                <td><%=category[i].id %></td>
                                                <td><b> <%= category[i].name%> </b></td>
                                                <td><%=category[i].description %></td>
                                                <!-- <td>/cake</td>
                                                <td>1</td> -->
                                                <td class="text-end">
                                                    <div class="dropdown">
                                                        <a href="/admin/editCategory?id=<%= category[i]._id %>" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">View detail</a>
                                                            <a class="dropdown-item" href="#">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                   
                                            </tr>
                                        <%}} %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <%- include("../layouts/adminFooter.ejs") %>
