<%- include("../layouts/adminHead") %>
<div class="screen-overlay"></div>
<%- include("../layouts/adminSidebar.ejs") %>
<main class="main-wrap">
  <%- include("../layouts/adminNav.ejs") %>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Dashboard</h2>
        <p>Whole data about your business here</p>
      </div>
      <div>
        <a href="#" class="btn btn-primary"
          ><i class="text-muted material-icons md-post_add"></i>Create report</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-primary-light"
              ><i style="color: rgb(9, 125, 9)" class="fa fa-inr"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Revenue</h6>
              <span><%= totalRevenue %></span>
              <span class="text-sm"> Shipping fees are not included </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-success-light"
              ><i class="text-success material-icons md-local_shipping"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Pending Orders</h6>
              <span><%=placedCount%></span>
              <span class="text-sm">
                Pending orders to be delivered soon.
              </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-warning-light"
              ><i class="text-warning material-icons md-qr_code"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Products</h6>
              <span><%= countProduct %></span>
              <span class="text-sm"> In <%=countCategory%> Categories </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-info-light"
              ><i class="text-info material-icons md-shopping_basket"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Monthly Earning</h6>
              <span>₹<%= monthly %></span>
              <span class="text-sm"> Based in your local time. </span>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!-- chart section -->

    <div class="card mb-4">
      <h4>Users</h4>
      <div id="myChart"></div>
    </div>
    <div class="col-lg-6">
      <h4>Orders</h4>
      <div class="card mb-4">
        <div id="pieChart"></div>
      </div>
    </div>

    <!-- End of chart section -->

    <div class="card mb-4">
      <header class="card-header">
        <h4 class="card-title">Latest orders</h4>
      </header>
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <th scope="col" class="text-center">
                    <div class="form-check align-middle">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="transactionCheck01"
                      />
                      <label
                        class="form-check-label"
                        for="transactionCheck01"
                      ></label>
                    </div>
                  </th>
                  <th class="align-middle" scope="col">Order ID</th>
                  <th class="align-middle" scope="col">Billing Name</th>
                  <th class="align-middle" scope="col">Date</th>
                  <th class="align-middle" scope="col">Total</th>
                  <th class="align-middle" scope="col">Payment Status</th>
                  <th class="align-middle" scope="col">Payment Method</th>
                  <th class="align-middle" scope="col">View Details</th>
                </tr>
              </thead>
              <% orderData.forEach((order)=>{%>
              <tbody>
                <tr>
                  <td class="text-center">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="transactionCheck02"
                      />
                      <label
                        class="form-check-label"
                        for="transactionCheck02"
                      ></label>
                    </div>
                  </td>
                  <td><a href="#" class="fw-bold"><%= order._id %></a></td>
                  <td><%= order.user.firstname %></td>
                  <td><%= order.date %></td>
                  <td><%= order.total %></td>
                  <td>
                    <span class="badge badge-pill badge-soft-success"
                      ><%= order.status %></span
                    >
                  </td>
                  <td>
                    <i
                      class="material-icons md-payment font-xxl text-muted mr-5"
                    ></i>
                    <%= order.method %>
                  </td>
                  <td>
                    <a
                      href="/admin/orderDetails?id=<%=order._id%>"
                      class="btn btn-xs"
                    >
                      View details</a
                    >
                  </td>
                </tr>
              </tbody>
              <% }) %>
            </table>
          </div>
        </div>
        <!-- table-responsive end// -->
      </div>
    </div>
    <div class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item active"><a class="page-link" href="#">01</a></li>
          <li class="page-item"><a class="page-link" href="#">02</a></li>
          <li class="page-item"><a class="page-link" href="#">03</a></li>
          <li class="page-item"><a class="page-link dot" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">16</a></li>
          <li class="page-item">
            <a class="page-link" href="#"
              ><i class="material-icons md-chevron_right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- content-main end// -->
  <footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
      <div class="col-sm-6">
        <script>
          document.write(new Date().getFullYear());
        </script>
        &copy; Nest - HTML Ecommerce Template .
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end">All rights reserved</div>
      </div>
    </div>
  </footer>
</main>


<input type="hidden" value="<%= userData[0]%>" id="Jan" />
<input type="hidden" value="<%= userData[1]%>" id="Feb" />
<input type="hidden" value="<%= userData[2]%>" id="Mar" />
<input type="hidden" value="<%= userData[3]%>" id="Apr" />
<input type="hidden" value="<%= userData[4]%>" id="May" />
<input type="hidden" value="<%= userData[5]%>" id="Jun" />
<input type="hidden" value="<%= userData[6]%>" id="Jul" />
<input type="hidden" value="<%= userData[7]%>" id="Aug" />
<input type="hidden" value="<%= userData[8]%>" id="Sep" />
<input type="hidden" value="<%= userData[9]%>" id="Oct" />
<input type="hidden" value="<%= userData[10]%>" id="Nov" />
<input type="hidden" value="<%= userData[11]%>" id="Dec" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<% console.log('aug',userData[7]); %>

<script>
  let cancelledCount = parseInt("<%=cancelledCount%>".trim(), 10);
  let placedCount = parseInt("<%=placedCount%>".trim(), 10);
  let deliveredCount = parseInt("<%=deliveredCount%>".trim(), 10);
  let pendingCount = parseInt("<%=pendingCount%>".trim(), 10);

  let Jan = document.getElementById('Jan').value
    let Feb = document.getElementById('Feb').value
    let Mar = document.getElementById('Mar').value
    let Apr = document.getElementById('Apr').value
    let May = document.getElementById('May').value
    let Jun = document.getElementById('Jun').value
    let Jul = document.getElementById('Jul').value
    let Aug = document.getElementById('Aug').value
    let Sep = document.getElementById('Sep').value
    let Oct = document.getElementById('Oct').value
    let Nov = document.getElementById('Nov').value
    let Dec = document.getElementById('Dec').value

  var options = {
          series: [{
            name: "Users",
            data: [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'User Join per Month',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
        }
        };

        var chart = new ApexCharts(document.querySelector("#myChart"), options);
        chart.render();

  //   pieChart
  var pieChart = {
    series: [placedCount, deliveredCount, cancelledCount, pendingCount],
    chart: {
      type: "donut",
      width: 400,
    },
    labels: ["Placed", "Delivered", "Cancelled", "Pending"],
    stroke: {
      colors: ["#fff"],
    },
    fill: {
      opacity: 0.8,
    },
    responsive: [
      {
        breakpoint: 480,
        options: {
          chart: {
            width: 200,
          },
          legend: {
            position: "bottom",
          },
        },
      },
    ],
  };

  var chart = new ApexCharts(document.querySelector("#pieChart"), pieChart);
  chart.render();
</script>
<%- include("../layouts/adminFooter.ejs") %>
