<%- include('../layouts/adminHead.ejs') %>
<%- include("../layouts/adminSidebar.ejs") %>
<section class="content-main"sty>
  <div class="content-header">
    <h2 class="content-title card-title">Products List</h2>
  </div>
  <div class="row gx-3">
    <div class="col-md-12">
      <div class="card-body">
        <div class="table-responsive">
          <table id="myTable" class="table table-hover text-center">
            <thead>
              <tr>
                <th>NO</th>
                <th>Product</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Quantity/Stock</th>
                <th>Actions</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <!-- Table rows for products here -->
              <% if (product && product.length > 0) {  %>
                <% let count=1 %>
                <%  for (let i = 0; i <product.length; i++) { %>
              
              <tr>
                <td>
                  <%=count%>
                </td>
                <td width="25%">
                  <div class="left">
                    <img
                      src="/uncroppedImages/<%= product[i].image[0] %>"
                      class="img-sm img-thumbnail"
                      alt="Item"
                    />
                  </div>
                  <div class="info pl-3">
                    <h6 class="mb-0 title"><%= product[i].name %></h6>
                  </div>
                </td>
                <td>
                  <span>₹<%= product[i].price %></span>
                </td>
                <td>
                  <span><%= product[i].category.name %></span>
                </td>
                <td>
                  <span><%= product[i].description %></span>
                </td>
                <td>
                  <span class="badge rounded-pill alert-success"
                    ><%= product[i].quantity %></span>
                  
                </td>
                <td>
                  <button
                    id="block-<%= product[i]._id %>"
                    onclick="unlistProduct('<%= product[i]._id %>')"
                    class="btn btn-sm btn-danger rounded font-sm mt-1"style="
                    <% if (product[i].list) { %>background-color: green; color: white;<% } %>"
                  >
                    <% if (product[i].list === true) { %> Unlist <% } else { %>
                    List <% } %>
                  </button>
                </td>
                <td>
                  <a
                    href="/admin/productEditPage?id=<%= product[i]._id %>"
                    class="btn btn-sm btn-danger rounded font-sm mt-15"
                    >Edit</a>
                  
                </td>
                <%count++%>
              </tr>
              <% } } %>

              <!-- End of table rows for products -->
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <a
            href="/admin/productAddPage"
            class="btn btn-primary btn-sm rounded me-2"
            >Create new
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const unlistProduct = async (productId) => {
    try {
      const button = document.getElementById(`block-${productId}`);
      if (button.textContent.trim() === "List") {
        button.textContent = "Unlist";
      } else {
        button.textContent = "List";
      }

      const responses = await axios.patch("/admin/productUnlist", {
        productId,
      });

      $("#myTable").DataTable().draw(false);
    } catch (error) {
      console.log(error.message);
    }
  };
  $(document).ready(function () {
    $("#myTable").DataTable();
  });
</script>
<%- include('../layouts/adminFooter.ejs') %>