<%- include("../layouts/adminHead") %>
<div class="screen-overlay"></div>
<%- include("../layouts/adminSidebar.ejs") %>
<main class="main-wrap">
            <%- include("../layouts/adminNav.ejs") %>
            
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">User list</h2>
                    <div>
                        <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Status</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (users.length > 0) { %>
                                        <% for (let i = 0; i < users.length; i++) { %>
                                            <tr>
                                                <td width="40%">
                                                    <a href="#" class="itemside">
                                                        <div class="left">
                                                            <!-- <img src="assets/imgs/people/avatar-1.png" class="img-sm img-avatar" alt="Userpic" /> -->
                                                        </div>
                                                        <div class="info pl-3">
                                                            <%= users[i].firstname + ' ' + users[i].lastname %>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td><%= users[i].email %></td>
                                                <td><%= users[i].phone %></td>
                                                <% if(users[i].is_blocked === false) {%>
                                                <td><span class="badge rounded-pill alert-success">Active</span></td>
                                                <% } else { %>
                                                    <td> <span class="badge rounded-pill alert-danger">blocked</span></td>
                                                    <% } %>
                                                <td class="text-end">
                                                    <% if(users[i].is_blocked === false) { %>
                                                        <a href="/admin/blockUser?id=<%= users[i]._id %>" class="btn btn-sm btn-danger rounded font-sm mt-15">Block</a>
                                                    <% } else { %>
                                                        <a href="/admin/blockUser?id=<%= users[i]._id %>" class="btn btn-sm btn-brand rounded font-sm mt-15">Unblock</a>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %> 
                                </tbody>
                                
                                
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
