<%- include("../layouts/header.ejs") %> <%- include("../layouts/userNav.ejs") %>
<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Checkout</h1>
        <nav class="d-flex align-items-center">
          <a href="/index">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="/single-product">Checkout</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
  <div class="container">
    <div class="returning_customer"></div>
    <div class="cupon_area">
      <div class="check_title">
        <h2>Have a coupon? <a href="#"></a></h2>
      </div>
      <input type="text" placeholder="Enter coupon code" style="width: 195px;" />

      <a class="tp_btn" href="#">Apply Coupon</a>
    </div>
    <div class="billing_details">
      <div class="row">
        <div class="col-xl-7 ftco-animate">
          <div class="billing-form">
            <div class="row align-items-end">
              <div class="col-md-12">
                <div class="form-group">
                  <h3 class="billing-heading mb-4">Shipping Address</h3>
                  <button
                    type="button"
                    class="btn btn-success font-weight-bold"
                    style="border-radius: 6px"
                    data-toggle="modal"
                    data-target="#exampleModalLong"
                  >
                    Add Address
                  </button>
                  <div>
                    <hr />
                    <% userOrder.address.forEach((address, index) => { %>
                    <!-- User Order Addresses -->
                    <div class="row d-flex align-items-center" id="addrId">
                      <input
                        type="radio"
                        name="address"
                        id="address<%= index %>"
                        value="<%= address.firstname%>, <%= address.housename %>, <%= address.mobile %>, <%= address.city %>, <%= address.district %>, <%= address.state %>, <%= address.pincode %>"
                        required
                      />
                      <div class="col-7">
                        <label for="address<%= index %>" class="text-dark">
                          <%= address.firstname %>, <%= address.housename %>, <%=
                          address.mobile %>, <br />
                          <%= address.city %>, <%= address.district %>, <%=
                          address.state %><br />
                          <%= address.pincode %>
                        </label>
                      </div>
                      <div class="col-2">
                        <!-- Edit Icon -->
                        <div class="icon-container">
                          <a href="/address?userId=&addressId=&check=3">
                            <i class="fas fa-edit"></i>
                          </a>
                        </div>
                        <!-- Delete Icon -->
                        <div class="icon-container">
                          <a href="" onclick="handleDeleteAddress('')">
                            <i class="fas fa-trash"></i>
                          </a>
                        </div>
                      </div>

                      <hr />
                    </div>
                    <% }) %>
                    <!-- End User Order Addresses -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="your_order">
           <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product <span>Total</span></a>
              </li>
              <li>
                <a href="#"
                  >Fresh Blackberry <span class="middle">x 02</span>
                  <span class="last">$720.00</span></a
                >
              </li>
             
            </ul>
            <ul class="list list_2">
              <!-- <li>
                <a href="#">Subtotal <span>$2160.00</span></a>
              </li> -->
              <!-- <li>
                <a href="#">Shipping <span>Flat rate: $50.00</span></a>
              </li> -->
              <li>
                <a href="#">Total <span>$2210.00</span></a>
              </li>
            </ul>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option5" name="selector" />
                <label for="f-option5">Check payments</label>
                <div class="check"></div>
              </div>
              <p>
                Please send a check to Store Name, Store Street, Store Town,
                Store State / County, Store Postcode.
              </p>
              </div>
              <div class="payment_item active">
               <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector" />
                <label for="f-option6">Paypal </label>
                <img src="img/product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
              <p>
                Pay via PayPal; you can pay with your credit card if you don’t
                have a PayPal account.
              </p>
              </div>
             <div class="creat_account">
              <input type="checkbox" id="f-option4" name="selector" />
              <label for="f-option4">I’ve read and accept the </label>
              <a href="#">terms & conditions*</a>
              </div>
             <a class="primary-btn" href="#">Proceed to Paypal</a>
             </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
<%- include("../layouts/footer.ejs") %> <%- include("../layouts/userFooter.ejs")
%>
