<%- include("../layouts/header.ejs") %>
<%- include("../layouts/userNav.ejs") %>

  </head>
  <body>
    <div class="success-con">
      <h1 class="success-message font-weight-bold">
        Order Successfully Placed!
      </h1>
      <img
        src="https://media.istockphoto.com/id/882905872/vector/order-success-icon.jpg?s=170667a&w=0&k=20&c=O442rcdNvFkJsaw_voc4IXGYEvfRyU4a6AXiwavnvxc="
        alt="Order Success"
        class="success-image"
      />
      <p class="success-details" style="color: black;">
        Thank you for your order! Your order has been successfully placed and
        will be shipped to you soon.
      </p>
      <p class="success-details">
        Order ID: <span class="order-id"><%=order._id  %></span>
      </p>
      <p class="success-details">
        Track your order Below<span class="order-total"></span>
      </p>
      

      <a href="/orderedList" class="continue-shopping-btn">view orders</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
<%- include("../layouts/footer.ejs") %>
<%- include("../layouts/userFooter.ejs") %>