
<%- include("../layouts/header.ejs") %>
<%- include("../layouts/userNav.ejs") %>

<div class="card-container" style="margin-top: 100px;">
  <% order.products.forEach((product) => { %>
    <div class="card my-5 mx-4 text-center" style="width: 18rem; display: inline-block;">
      <img class="card-img-top" src="/uncroppedImages/<%= product.productId.image[0] %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= product.productId.name %></h5>
        <h5>₹ <%= product.productId.price %></h5>
        <h5>Quantity: <%= product.quantity %></h5>
        <% if (order.status !== "Cancelled" && order.status !== "Return Pending") { %>
          <h6 class="text-success">Status: <%= order.status %></h6>
        <% } else { %>
          <h6 class="text-danger">Status: <%= order.status %></h6>
        <% } %> 
        <a href="/index" class="btn btn-primary">Shop more</a>
      </div>
    </div>
  <% }) %>
</div>

    
    



