<%- include("../layouts/header.ejs") %>
<%- include("../layouts/userNav.ejs") %>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="/index">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/category">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	  <!-- Start OTP Login Box Area -->
	  <section class="otp_login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="otp_login_form_inner">
                        <h3>Enter OTP to Reset Passoword</h3>
						<% if(typeof succMessage !== 'undefined'){ %>
							<p style="color: green" class="text-center mt-3">
							  <%= succMessage %>
							</p>
							<% } %>
							<% if(typeof errMessage !== 'undefined'){ %>
							  <p style="color: #f44336; margin-top: -10px"><%= errMessage %></p>
							  <% } %>
							  
                        <form class="row login_form" action="/resetPassword" method="post" id="otpLoginForm" novalidate="novalidate">
                           
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="otp" name="otp" placeholder="OTP" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="primary-btn">Submit</button>
                                <!-- <a href="#" id="resendOtp">Resend OTP</a> -->
								
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<script>
		function validateOTP() {
		  const otpInput = document.getElementById("otp");
		  const otpValue = otpInput.value.trim();
	  
		  // Check if the OTP is a 4-digit number
		  const otpRegex = /^\d{4}$/;
		  if (!otpRegex.test(otpValue)) {
			alert("Please enter a valid 4-digit OTP.");
			return false; // Prevent form submission
		  }
	  
		  return true; // Allow form submission
		}
	  </script>
	<!--================End Login Box Area =================-->

	<%- include("../layouts/footer.ejs") %>
	<%- include("../layouts/userFooter.ejs") %>
