<style>
  /* Add border to the product details section */
.s_Product_carousel {
  border: 1px solid #eaeaea; /* Border color */
  border-radius: 8px; /* Rounded corners */
  padding: 0px;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
  transition: transform 0.3s, box-shadow 0.3s; /* Transition effects for hover */
}

/* Apply hover effect */
.s_Product_carousel:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

</style>
<%- include("../layouts/header.ejs") %> <%- include("../layouts/userNav.ejs") %>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Product Details Page</h1>
        <nav class="d-flex align-items-center">
          <a href="/index">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
          <a href="/single-product">product-details</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="s_Product_carousel">
          <% for (let i = 0; i < singleProduct.image.length; i++) { %>
            <div class="single-prd-item">
              <div class="img-zoom">
                <img class="img-fluid" src="/uncroppedImages/<%= singleProduct.image[i] %>" alt="" />
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3><%= singleProduct.name%></h3>
          <h2>₹<%= singleProduct.price%></h2>
          <ul class="list">
            <li>
              <a class="active" href="#"
                ><span>Category</span> : <%= singleProduct.category.name%></a
              >
            </li>
            <% if (singleProduct.list === true) { %>
            <li>
              <a href="#"><span>Availability</span> : In Stock</a>
            </li>
            <% } else { %>
            <li>
              <a href="#"><span>Availability</span> : Out of Stock</a>
            </li>
            <% } %>
          </ul>
          <p style="color: black"><%= singleProduct.description %></p>
          <!-- <div class="product_count">
							<label for="qty">Quantity:</label>
							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div> -->
          <div class="card_area d-flex align-items-center">
            <a
              onclick="addToCart('<%=singleProduct._id%>',1 ,'<%= singleProduct.price%>')"
              class="primary-btn"
              href=""
              >Add to Cart</a>
            
            <!-- <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  // Get all the .img-zoom elements
  const imgZoomElements = document.querySelectorAll(".img-zoom");

  // Loop through each .img-zoom element and attach event listeners
  imgZoomElements.forEach((elem) => {
    let x, y, width, height;

    elem.onmouseenter = () => {
      const size = elem.getBoundingClientRect();
      x = size.left;
      y = size.top;
      width = size.width;
      height = size.height;
    };

    elem.onmousemove = (e) => {
      const horizontal = ((e.clientX - x) / width) * 100;
      const vertical = ((e.clientY - y) / height) * 100;

      elem.style.setProperty("--x", horizontal + "%");
      elem.style.setProperty("--y", vertical + "%");
    };

    elem.onmouseleave = () => {
      elem.style.removeProperty("--x");
      elem.style.removeProperty("--y");
    };
  });
</script>

 


<script>
  const user = "<%=user_id%>";
  const totalStock = parseInt("<%=singleProduct.quantity %>");
  const addToCart = async (productId, quantity, singlePrice) => {
    try {
      event.preventDefault();

      if (user) {
        const productData = await axios.post("/addToCart", {
          productId,
          quantity,
          singlePrice,
          totalStock,
        });
        //   alert(totalStock);
        if (productData.data.count) {
			document.getElementById("cartCount").innerHTML=productData.data.count

        }
      
        if (productData.data.message === "Product added to cart") {
          swal("Added to cart", "", "success");
        } else if (productData.data.cart_message) {
          swal("Added to cart", "", "success");
        }
        return productData;
      } else {
        swal({
          title: "Please Login And Explore Our Products",
        }).then(() => {
          window.location.href = "/login";
        });
      }
    } catch (error) {
      console.log(error.message);
    }
  };
</script>

<%- include("../layouts/footer.ejs") %> <%- include("../layouts/userFooter.ejs")
%>
